body {
  padding: 0 0 0vh 0;
  background: #ffffff;
  scroll-behavior: smooth;
  font: 700 100%/1 "Antonio", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero {
  height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 0 20px;
    position: relative; /* Add position relative to showcase */
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -5; /* Ensure video is behind content */
  filter: blur(1px);
}

.hero__title {
  color: #ffffff;
  display: block;
  font-size: clamp(3rem, 13.5vw, 15rem);
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  line-height: 1;
  margin-top: -0.25em;
}
.hero__title-text {
  position: relative;
  z-index: 1;
}
.hero__title-bg {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font: inherit;
  z-index: 0;
}
.hero__title-bg--front {
  color:#848484;
}
.hero__title-bg--back {
  -webkit-text-stroke: 3px currentColor;
  -webkit-text-fill-color: transparent;
}/*# sourceMappingURL=styles.css.map */


#about {
  padding: 40px;
  padding-bottom: 30px;
  text-align: center;
}

#about p {
  font-size: 20px;
  max-width: 600px;
  margin:  auto;
  color: #000000;
}

#about h1 {
  margin: 30px 0;
  color: #000000;
  font-size: 80px;
}

#about h2{
  margin: 30px 0;
  color: #000000;
}

#about h3 {
  font-size: 200px;
  max-width: 600px;
  margin: auto;
  color: #717171;
}

#about h4 {
  font-size: 40px;
  max-width: 600px;
  margin: 30px auto;
  color: #000000;
}

/* Responsive MP3 link */
.mp3-link {
  font-size: 3rem;
  font-weight: bold;
  color: #fb6bc4;
  text-decoration: none;
  display: inline-block;
  line-height: 1.2;
  padding: 5px 10px;
  transition: color 0.3s ease;
}

.mp3-link:hover {
  color: #e74c3c;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  #about {
      padding: 5vw;
  }
  #about p, #about h1, #about h2, #about h3, #about h4 {
      text-align: center;
  }
  #about h3 {
      font-size: 6rem;
  }
}

@media (max-width: 480px) {
  #about h3 {
      font-size: 4rem;
  }
  .mp3-link {
      font-size: 2rem;
  }
}
