*{
  background-color: #000000;

}
body{
  padding: 0 !important;
  margin: 0;
  background-color: #000000 !important;
}

.qff_Wrapper {
  background-color: #000000;
  padding-top: 1%; /* Adjust padding using percentage for responsiveness */
  min-height: calc(100vh - 240px);
}

.HeadeIcons {
  margin: 0 auto;
  text-align: center;
  margin-top: 0; /* Remove margin-top */
}

.icon3 {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
}

.icon3 img {
  width: 8.5vw; /* Adjust width using percentage for responsiveness */
  color: #d10404;
  margin-top: 1.28vw;
}

.qff_Header {
  font-size: 5.2vw;
  font-family: "nimbus-sans", sans-serif;
  font-weight: 900;
  letter-spacing: -0.063vw;
  text-align: center;
  color: #d10404;
  background: #000000;
  line-height: 0.8;
  padding: 1.5vw 0;
}

.qff_Header span {
  font-size: 5vw; /* Adjust font size using viewport units for responsiveness */
  letter-spacing: -0.4vw;
}

.qff_Music_Menu a,
.qff_Videos_Menu a,
.qff_Shows_Menu a {
  font-size: 7.29vw;
  font-family: "nimbus-sans", sans-serif;
  text-align: center;
  color: #d10404;
  display: block;
  letter-spacing: -0.4vw;
  line-height: 0.9;
  padding: 2% 0;
  text-decoration: none;
  font-weight: 900 !important;
}

.blackline {
  border-bottom: 1.04vw solid #d10404;
} /* Adjust border-bottom width using vw for responsiveness */


.qff_Music_Menu:hover .linkCls,
.qff_Videos_Menu:hover .linkCls,
.qff_Shows_Menu:hover .linkCls {
  color: #000000 !important;
  background: #d10404;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  transition: all 0.6s ease;
}

/* Footer Styles */
.footer-basic {
  padding: 3%; /* Adjust padding using percentage for responsiveness */
  background-color: #000000;
  color: #d10404; /* Yellow text color */
  font-family: 'Arial', sans-serif;
  text-align: center;
  font-size: 1vw; /* Adjust font size using viewport units for responsiveness */
  letter-spacing: 0.5vw; /* Adjust letter spacing using viewport units for responsiveness */
}

.footer-basic ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-basic li {
  display: inline-block;
  margin-right: 1%; /* Adjust margin using percentage for responsiveness */
}

.footer-basic li:last-child {
  margin-right: 0; /* Remove margin from last item */
}

.footer-basic a {
  color: #d10404; /* Yellow link color */
  text-decoration: none;
}

.footer-basic a:hover {
  color: #545454; /* Light gray link color on hover */
  text-decoration: none;
}

.footer-basic .social-icon a i {
  font-size: 2vw; /* Adjust font size using viewport units for responsiveness */
}


/* Responsive CSS */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .qff_Wrapper {
      min-height: calc(100vh - 126px) !important;
  }
}

@media only screen and (max-width: 1023px)
{
  .icon3 img {
    margin:  auto;
    width: 45vw;
    }
 
  .qff_Header,
  .qff_Header span {
    font-size: 13.9vw;
    line-height: 0.9;
    letter-spacing: -0.063vw;
    padding: 2vw 0;
    font-family: "nimbus-sans", sans-serif;
  }
  
  .qff_Music_Menu a,
  .qff_Videos_Menu a,
  .qff_Shows_Menu a {
    font-size: 20.9vw;
    letter-spacing: -1.25vw;
    line-height: 1.3;
    font-family: "nimbus-sans", sans-serif;
    padding: 2vw 0;
  }
 
   .blackline {
    border-bottom: 2.9vw solid #d10404;
  }

  /* Footer adjustments */
  
  .footer-basic {
    font-size: 5.5vw; /* Adjust font size for smaller screens */
    padding: 12vw 3vw; /* Adjust padding for smaller screens */
    padding-bottom: 45vw;
    letter-spacing: 2.3vw;
    line-height: 4;
  }

  .footer-basic .social-icon a i {
    font-size: 15vw; /* Adjust font size for smaller screens */
  }

}

@media only screen and (max-width: 768px)
{
  .icon3 img {
    margin:  auto;
    width: 30vw;
    }
 
    .qff_Header,
    .qff_Header span {
      font-size: 20vw;
      line-height: 1.3;
      letter-spacing: -1.25vw;
      padding: 2vw 0;
      font-family: "nimbus-sans", sans-serif;
    }
    
    .qff_Music_Menu a,
    .qff_Videos_Menu a,
    .qff_Shows_Menu a {
      font-size: 20vw;
      letter-spacing: -1.25vw;
      line-height: 1.3;
      font-family: "nimbus-sans", sans-serif;
      padding: 2vw 0;
    }
   
 
   .blackline {
    border-bottom: 2.9vw solid #d10404;
  }

  /* Footer adjustments */
  
  .footer-basic {
    font-size: 5.5vw; /* Adjust font size for smaller screens */
    padding: 12vw 3vw; /* Adjust padding for smaller screens */
    padding-bottom: 45vw;
    letter-spacing: 2.3vw;
    line-height: 4;
  }

  .footer-basic .social-icon a i {
    font-size: 9.2vw; /* Adjust font size for smaller screens */
  }

}

@media only screen and (max-width: 640px)
{
  .icon3 img {
    margin:  auto;
    width: 30vw;
    }
 
  .qff_Header,
  .qff_Header span {
    font-size: 20vw;
    line-height: 1.3;
    letter-spacing: -1.25vw;
    padding: 2vw 0;
    font-family: "nimbus-sans", sans-serif;
  }
  
  .qff_Music_Menu a,
  .qff_Videos_Menu a,
  .qff_Shows_Menu a {
    font-size: 20vw;
    letter-spacing: -1.25vw;
    line-height: 1.3;
    font-family: "nimbus-sans", sans-serif;
    padding: 2vw 0;
  }
 
   .blackline {
    border-bottom: 2.9vw solid #d10404;
  }

  /* Footer adjustments */
  
  .footer-basic {
    font-size: 5.5vw; /* Adjust font size for smaller screens */
    padding: 12vw 3vw; /* Adjust padding for smaller screens */
    padding-bottom: 45vw;
    letter-spacing: 2.3vw;
    line-height: 4;
  }

  .footer-basic .social-icon a i {
    font-size: 9.2vw; /* Adjust font size for smaller screens */
  }

}