<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tranz Pahadi Music</title>
    <link rel="stylesheet" href="../static/css/preloader.css">
    <link rel="stylesheet" href="../static/css/more.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
     <!-- Move the font stylesheet link to here -->
     <link rel="stylesheet" href="../static/fonts/texgyreheros-bold/styles.css" />
</head>

<body onload="myfunction()">
    <div id="pl" ></div>

    <div class="qff_Wrapper">
        <div class="HeadeIcons">
            <div class="icon3">
                <a href="../index.html">
                    <img class="LeftImageTag" src="../static/icons/red-96.png" alt="Icon Image">
                </a></div>
        </div>
        <div class="qff_Menu">
            <div class="qff_Header"> <span></span> PHYCO </div>
            <div class="blackline"></div>
            <div class="qff_Music_Menu">
                <a target="_blank" custom-link-name="Music (menu)" class="linkCls" href="./phycopopup.html">MUSIC</a>
            </div>
            <div class="blackline"></div>
            <div class="qff_Videos_Menu">
                <a target="_blank" custom-link-name="Videos (menu)" class="linkCls" href="#">VIDEOS</a>
            </div>
            <div class="blackline"></div>
            <div class="qff_Shows_Menu">
                <a target="_blank" custom-link-name="Shows (menu)" class="linkCls" href="#">SHOWS</a>
                <div class="blackline"></div>
            </div>
            
        </div>
        <!-- Main Content Goes Here -->
    </div>
    <div class="footer-basic">
        <footer>
            <ul class="list">
                <li class="link"><a href="./about.html">About</a></li>
                <li class="link"><a href="./privacypolicy.html">Privacy Policy</a></li>
                <li class="link"><a href=".//tos.html">Terms of Service</a></li>
                <li class="link"><a href="#">@ copyright 2024</a></li>
                <li class="social-icon"><a href="#"><i class="icon ion-social-instagram"></i></a></li>
                <li class="social-icon"><a href="#"><i class="icon ion-social-twitter"></i></a></li>
                <li class="social-icon"><a href="#"><i class="icon ion-social-facebook"></i></a></li>
                <li class="social-icon"><a href="#"><i class="icon ion-social-youtube"></i></a></li>
            </ul>
            </footer>
        </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../static/js/preloader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/smoothscrool.js"></script>
</body>
</html>
