<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Streaming - External Links</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMg9G5nlgjG2qt6A2bc/qVBKJ/iJRek8eSR+gpS" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/popup.css">
</head>
<body>
    <div class="popup-wrapper">
        <div class="popup-container" id="popupContainer">
            <div id="popup" class="popup">
                <h1>Phyco</h1>
                <div class="links-container">
                    <a href="#" target="_blank" class="link-item">
                        <div class="link-icon">
                            <img src="../static/icons/svg/applemusic.svg" alt="Apple Music">
                        </div>
                        <button class="link-button">Play</button>
                    </a>
                    <a href="#" target="_blank" class="link-item">
                        <div class="link-icon">
                            <img src="../static/icons/svg/spotify.svg" alt="Spotify">
                        </div>
                        <button class="link-button">Play</button>
                    </a>
                    <a href="#" target="_blank" class="link-item">
                        <div class="link-icon">
                            <img src="../static/icons/svg/itunes.svg" alt="iTunes">
                        </div>
                        <button class="link-button">Download</button>
                    </a>
                    <a href="#" target="_blank" class="link-item">
                        <div class="link-icon">
                            <img src="../static/icons/svg/youtube.svg" alt="YouTube">
                        </div>
                        <button class="link-button">Play</button>
                    </a>
                    <a href="#" target="_blank" class="link-item">
                        <div class="link-icon">
                            <img src="../static/icons/svg/youtubemusic.svg" alt="YouTube Music">
                        </div>
                        <button class="link-button">Play</button>
                    </a>
                    <a href="#" target="_blank" class="link-item">
                        <div class="link-icon">
                            <img src="../static/icons/svg/amazonmusic.svg" alt="Amazon Music">
                        </div>
                        <button class="link-button">Play</button>
                    </a>
                </div>
                <div class="footer">
                    <p>By using this service, you agree to the use of cookies. <a href="#">Click here</a> to manage your permissions.</p>
                    <p>This page may contain affiliate links.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
